@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
/* open sens */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* bangla font */
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');
/* Special Gothic Condensed One */
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
.nav-title {
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 40px;
    font-weight: 800;
    
  }
  .header{
    background-image: url('./Developer.png') , url('./header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    background-size:auto;
  }
  .common-text-style{
    font-family: "Open Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;
  }
  .color-1{
    color: #757575;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
.primary-color{
    color: #FD6E0A;

}
.btn-primary{
    background: #FD6E0A;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
    border: none;
}
nav , .banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav li a{
    text-decoration: none;
}
/* banner */
.banner-content-2{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #181818;
}
.banner-img{
    width: 410px;
}
.banner-container{
    gap: 50px;
}
.banner-btn{
    display: flex;
    gap: 20px;
}
main{
    margin-top: 50px;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 64px;
}
.aboute-me{
    background-color: lab(87.17% 15.2 7.93);
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 8px;
}
.aboute-me-title{
    text-align: center;
}.aboute-me-details{
    color: #757575;
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}
.aboute-me-more-details{
    display: flex;
    justify-content: center;
}
.aboute-me-more-details div{
    text-align: center;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 30%;
}
.aboute-me-more-details h3{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
}
.aboute-me-more-details h1{
    color: #474747;
    font-size: 16px;
    font-weight: bold;
}
.What-I-do{
    text-align: center;
   
}
.What-I-do h1{
    color: #181818;
    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
}
.What-I-do p{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
    
}
.What-I-do-details{
    display: flex;
    justify-content: space-between;
    gap: 7px;
    margin-top: 25px;
}
.What-I-do-details div{
    text-align: justify;
    padding: 15px;
    max-width: 200px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 5px 50px 5px #c9c9bd;
}
.What-I-do-details h3{
    color: #181818;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}
.What-I-do-details  p{
    color: #757575;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.A-summary-of-Resume{
    margin-bottom: 88px;
    margin-top: 88px;
} 
.A-summary-of-Resume h2 {
    text-align: center;
    color: #181818;
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    text-align: center;

}
.A-summary-of-Resume-details{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    line-height: 90%;
    
}
.A-summary-of-Resume-Edu h1  {
    font-size: 35px;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 900;
}
#Sub{
    font-family: "Special Gothic Condensed One", sans-serif;
    text-align: justify;
    font-weight: 700;
    font-size: 30px;
}
#Institude{
    font-family: "Special Gothic Condensed One", sans-serif;
    font-size: 20px;
    color: rgb(41, 3, 255);
    font-weight: 500;
}
#sub-details{
    color: #757575;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
}
.experience{
    font-size: 35px;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 900;
}
.Download-btn{
    text-align: center;
}